{%extends "basic.html" %}
{% block block_title%}Contact Us{% endblock %}
{% block block_style %}

#icon{
color:green;
margin:relative;
position-top:10px;
}

.icon{
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
border: 2px solid dodgerblue;
}

#map{
  height:100%;
}

.flexer{
display:flex;
height:95%;
}

{% endblock %}
{% block block_body %}
  <div class="row">
    <div id="map" class="col-sm-12 col-md-4 col-xl-4 col-lg-4 ml-2">
      <iframe src="https://www.google.com.qa/maps/d/u/0/embed?mid=12wSi9QVGaFrFJNHdRdu7hvmGUJ7ITLFq" width="640" height="590"></iframe>
    </div>
     <div class="col-sm-12 col-md-1 col-xl-1 col-lg-1 ml-2"></div>
    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6 mt-4 ml-2">
      <div id="div1" class="row">
        <div id="data" class="alert alert-danger" role="alert"></div>
      </div>
      <!-- CONTACT FORM-->
   <form action="/contact" method="POST" onsubmit="return validation()">{% csrf_token %}
     <p class="h4 mb-4 pl-5"><h1>Contact Us</h1></p>
   <div class="form-group">
    <div class="row">
      <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
        <div class="flexer"><i class="fa fa-key icon"></i><input type="name" id="input_name" class="form-control" placeholder="Name" name="name"></div>
      </div>
    </div>
   </div>
   <div class="form-group">
    <div class="row">
      <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
        <div class="flexer"><i class="fa fa-key icon"></i><input type="Number" id="input_phone" class="form-control input-field" placeholder="Phone Number" name="phone"></div>
      </div>
    </div>
   </div>
   <div class="form-group">
    <div class="row">
      <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
        <div class="flexer"><i class="fa fa-key icon"></i><input type="text" id="input_address" class="form-control input-field" placeholder="Address" name="address"></div>
      </div>
      </div>
   </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
        <div class="flexer"><i class="fa fa-key icon"></i><input type="Email" id="input_email" class="form-control input-field" placeholder="Enter Email" name="email"></div>
      </div>
      </div>
    </div>
  <div class="form-group form-check ml-2">
    <input id="input_check" type="checkbox" class="form-check-input ml-4" id="check" name="checkbox">
    <label class="form-check-label ml-5 ">Agree Terms And Condition</label>
  </div>
  <div class="form-group">
    <label  class="text-center ml-5"><h4><strong>Comment</strong></h4></label>
    <textarea id="input_comment" class="form-control mb-2" rows="5" name="desc"></textarea>
  </div>
  <input type="submit" class="btn btn-primary form-control" id="clicked">
</form>
    </div>
  </div>
{% endblock %}
    <!-- Optional JavaScript -->
{% block block_javascript %}
   <!--if(document.getElementById("data").innerHTML==""){-->
      <!--document.getElementById("div1").style.display = "none";-->
    <!--}-->
    <!--else{-->
      <!--document.getElementById("div1").style.display = "block";-->
    <!--}-->
      <!--function validation(){-->
        <!--document.getElementById("data").innerHTML="";-->
        <!--var element=0;-->
      <!--if(document.getElementById("input_name").innerHTML==""){-->
        <!--document.getElementById("data").innerHTML+="Name Not Entered, ";-->
        <!--element=element+1;-->
      <!--document.getElementById("div1").style.display = "block";-->
      <!--return false;-->
    <!--}-->
    <!--if(document.getElementById("input_address").innerHTML==""){-->
        <!--document.getElementById("data").innerHTML+="Address Not Entered, ";-->
        <!--element=element+1;-->
      <!--document.getElementById("div1").style.display = "block";-->
      <!--return false;-->
    <!--}-->
    <!--if(document.getElementById("input_phone").innerHTML==""){-->
        <!--document.getElementById("data").innerHTML+="Phone Not Entered, ";-->
        <!--element=element+1;-->
      <!--document.getElementById("div1").style.display = "block";-->
      <!--return false;-->
    <!--}-->
      <!--if(document.getElementById("input_email").innerHTML==""){-->
        <!--document.getElementById("data").innerHTML+="Email Not Entered, ";-->
        <!--element=element+1;-->
      <!--document.getElementById("div1").style.display = "block";-->
      <!--return false;-->
    <!--}-->

      <!--if(document.getElementById("input_check").innerHTML==""){-->
        <!--document.getElementById("data").innerHTML+="CheckBox Not Selected, ";-->
        <!--element=element+1;-->
      <!--document.getElementById("div1").style.display = "block";-->
      <!--return false;-->
    <!--}-->
      <!--if(document.getElementById("input_comment").innerHTML==""){-->
        <!--document.getElementById("data").innerHTML+="Not Commented, ";-->
        <!--element=element+1;-->
      <!--document.getElementById("div1").style.display = "block";-->
      <!--return false;-->
    <!--}-->
    <!--if(element>0){-->
      <!--return false;-->
    <!--}-->
    <!--}-->
        alert("called");
        alert("called");
        document.getElementById("div1").style.display = "none";
        const name = document.getElementById("input_name");
        const phone = document.getElementById("input_phone");
        const address = document.getElementById("input_address");
        const email = document.getElementById("input_email");
        const ok_button = document.getElementById("clicked");


        var count=0;


        count=0;
            name.addEventListener('keyup', function (event) {
                IsNameValid=name.checkValidity;
                if(IsNameValid){
                    count+=1;
                }
                else{
                    document.getElementById("data").innerHTML+="Name Is Not Entered ";
                    ok_button.disabled=true;
                }
            });

            phone.addEventListener('keyup' , function (event){
                IsPhoneValid=phone.checkValidity;
                if(IsPhoneValid){
                    count+=1;
                }
                else{
                    document.getElementById("data").innerHTML+="Phone Number Is Not Entered ";
                    ok_button.disabled=true;
                }
            });

            address.addEventListener('keyup' , function (event){
                IsAddressValid=address.checkValidity;
                if(IsAddressValid){
                    count+=1;
                }
                else{
                    document.getElementById("data").innerHTML+="Address Is Not Entered ";
                    ok_button.disabled=true;
                }
            )};

            email.addEventListener('keyup' , function (event){
                IsEmailValid=address.checkValidity;
                if(IsEmailValid){
                    count+=1;
                }
                else{
                    document.getElementById("data").innerHTML+="Address Is Not Entered ";
                    ok_button.disabled=true;
                }
            });
        if(count>0 && count<=4){
            ok_button.disabled=false;
        }

        okButton.addEventListener('click', function (event) {
          ok_button.submit();
        });


        validation();
        <!--}-->
    {% endblock %}