<!doctype html>
<html lang="en">
<head></head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!--google cdn-->
      <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script><!--microsoft cdn-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
    <title>HOME</title>
<body>
    <div class="row pt-2 mt-2 mr-1 ml-2">
        <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10 col-xl-10"></div>
        <div class="col-sm-2 col-md-2 col-xl-2 col-lg-2 col-xs-2">
        <a href="/billingsearcher">
        <button id="bill_section" class="btn btn-primary btn-block">Get Bill</button>
        </a>
         </div>
    </div>
<div class="row">

    <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 col-xl-2"></div>
    <div class="col-sm-8 col-md-8 col-xs-8 col-lg-8 col-xl-8 mt-2">
        {%ifequal paytmresponse.STATUS "TXN_FAILURE"%}
        <div class="h4 pl-4 pt-2">Your Order Of OrderId <i>{{paytmresponse.ORDERID}}</i> Is Not Successful Because Of {{paytmresponse.RESPMSG}}<br><h6><i>Of Amount   <b>INR</b>{{paytmresponse.TXNAMOUNT}}</i></h6></br></div>
        <div class="mr-4"><img src="/media/lgs/images/payment_failed.jpg"></div>
        {%endifequal%}
        {%ifequal paytmresponse.STATUS "TXN_SUCCESS"%}
        {%ifequal paytmresponse.RESPCODE "01"%}
        <div class="h4 ml-4 pl-4 pt-2">Your Order Of OrderId <i>{{paytmresponse.ORDERID}}</i> Is Successful via {{paytmresponse.PAYMENTMODE}}<br><h6><i>on {{paytmresponse.TXNDATE}} Of Amount <b>INR</b>{{paytmresponse.TXNAMOUNT}}</i></h6></br></div>
        <img src="/media/lgs/images/payment successful.png">
        {%endifequal%}
        {%endifequal%}
        {%ifequal paytmresponse.STATUS "TXN_SUCCESS"%}
        {%ifequal paytmresponse.RESPCODE "01"%}
        <div class="h3 pl-4 ml-3 pt-3 mt-1 pb-2 mb-3"><i>BanK Details</i></div>
        <div class="h5">Your Placed Order Is Proceesed From Bank- {{paytmresponse.GATEWAYNAME}} Gateway-{{paytmresponse.GATEWAYNAME}}</div>
        <div class="h6"><b>Transaction Id : {{paytmresponse.TXNID}} <br>Bank Transaction Id: {{paytmresponse.BANKTXNID}}</b></div>
        {%endifequal%}
        {%endifequal%}
        <div class="h1 mt-5 pt-5 ml-2 mr-2 text-center">HAPPY SHOPPING</div>
    </div>
</div>
<script>

</script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>









