<!--{% extends "basic.html" %}-->
<!--{% block block_style %}{% endblock %}-->
<!--{% block block_title%}Cart{% endblock %}-->
<!--{% block block_body %}-->



<!--<form method="POST" enctype="multipart/form-data">-->
<!--{ csrf_token }-->
<!--   {{ user_form.as_p }}-->
<!--    {{ profile_forms.as_p }}-->
<!--    <input type="submit" name="" value="register">-->
<!--</form>-->
<!--{% endblock %}-->

<!-- {% block block_javascript %}-->
<!--&lt;!&ndash;  javascript code will stay here&ndash;&gt;-->
<!--  {% endblock %}-->
